<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="css/register.css">

    </head>
    <body>
        <div class="bodyContainer">
            <div class="headerContainer">
                <h1>Register</h1>
            </div>
            <div class="registerFormContainer">
                <form action="/register" method="post">
                    <div class="textInputContainer">
                        <label for="input_username">User ID</label>
                        <input type="text" id="input_username" name="username">
                    </div>
                    <div class="textInputContainer">
                        <label for="input_password">Password</label>
                        <input type="password" id="input_password" name="password">
                    </div>
                    <input type="submit" id="button_submit"  value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
